@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 'poppins','sans-serif';
}
.contact{
    position:relative;
    min-height: 100vh;
    z-index: 0;
    background :#081b29;
    padding:30px;
    justify-content: center;
    display:grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}
.container{
    max-width: 700px;
    margin-top: 0 auto;
}
.header{
    background-color: rgb(15, 237, 237);
    padding:6px;
    transition: 3s;
    

}
.logo{
  margin: 16px;
  size: 16px;

}

.header b{
    padding:20px
   
}
.header marquee{
    font-size:20px;
    font-style: italic;
    color:white;
}
.navbar {
    float:right;
    padding:25px 0px;
    
    margin: 0px auto;
}
.navbar a{
    width: 1300px;
    margin: 0px auto;
    font-weight: 600;
    font-size: 16px;
    justify-content: space-between;
    margin-left: 35px;
    margin:15px;
    transition: 3s;
   
    text-decoration: none;
}
.navbar a:hover{
    color: #00abf0;
    text-decoration: underline;
    transition: 0.5s;

}
.contact h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;

}
.contact h2{
    line-height: 40px;
    margin-bottom:5px;
    font-size: 30px;
    font-weight: 500;
    color:#69275c;
    text-align: center;

}
.contact .main{
    position:relative;
    display:flex;
    margin:30px 0;
}
.cont{
    flex-basis: 50%;
    padding: 3cm 3cm;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0 ,0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.imgs{
    flex-basis:50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    /* border-bottom-left-radius: 0px; */
    align-items: center;
    display:grid;


}
.imgs img{
    max-width:100%;
}
.btn ,button,input{
    border-radius: 5px;

}
.btn ,button:hover{
    color:#97359c;
    transition: 0.5s ease;
}
.contact form{
    margin:30px 0;
}
.contact input{
    outline:none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color:#999;
    padding: 14px 20px;
    width:100%;
    display:inline-block;
    box-sizing: border-box;
    border:none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact input:focus{
    background: transparent;
    border:1px solid #69275c;
    
}
.contact button{
    font-size: 18px;
    color:#fff;
    width:100%;
    background:#69275c;
    font-weight: 600;
    transition: 0.3 ease;
    padding: 14px 15px;
}
footer {
    background-color:#0ef;
    color: #fff;
    text-align: center;
    padding: 10px;
}