* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
 /********* Common CSS Starts **********/

 html,
 body {
   font-family Roboto, sans-serif, arial;
   font-size: 16px;
   color: #242424;

  
   
 }
 /* .container {
   width: 1400px;
   margin: 0px auto;
 }  */
 .image img{
  width:100%;
 }

 .heading {
   font-size: 28px;
   font-weight: 500;
   border-bottom: 1px solid #46b7c1; 
   margin-bottom: 20px; 
   color: #46b7c1;
   
 }


.header{
    background-color: rgb(15, 237, 237);
    padding:6px;
    transition: 3s;
    

}
.logo{
  margin: 16px;
  size: 16px;

}

.header b{
    padding:20px
   
}
.header marquee{
    font-size:20px;
    font-style: italic;
    color:white;
}
.navbar {
    float:right;
    padding:25px 0px;
    
    margin: 0px auto;
}
.navbar a{
    width: 1300px;
    margin: 0px auto;
    font-weight: 600;
    font-size: 16px;
    justify-content: space-between;
    margin-left: 35px;
    margin:15px;
    transition: 3s;
   
    text-decoration: none;
}
.navbar a:hover{
    color: #00abf0;
    text-decoration: underline;
    transition: 0.5s;

}
.event {
    width: 30%;
     margin-right: 2%; 
    float:left;
    background-color: #fff;
    padding: 5px;
  }
  .event .heading{
    border-bottom: 1px solid #46b7c1;
    padding: 5px;
    color: #fff;
    background: #46b7c1;
    text-align: center;


  }
  .event ul li {
    margin-bottom: 20px;
    width: 100%;
    float: left;
    list-style: none;
  }
  .date {
    background: #46b7c1;
    float:left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding:4px;
  
   
  }
  .main{
    width:200px;
    height:200px;
    background:white;
    padding: 6px;
    border-radius: 2000px;
    text-align: center;
    line-height: 200px;

  }
  .Review{
    width:100%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;


  }

.testimonial {
    width: 30.5%;
    float: left;
    margin-right: 2.5%;
  }
  .testimonial-text {
    background: #46b7c1;
    padding: 20px;
    line-height: 35px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
  .testimonial-detail {
    float: left;
    margin-top: 10px;
  }
 
  .testimonial-name {
    margin-left: 10px;
    float: left;
  }
  .testimonial-name h5 {
    font-size: 18px;
    margin-top: 8px;
  }
  .main-section {
    width: 100%;
    float: left;
    padding: 70px 0px 70px 0px;
  }

.footer {
  background-color: #46b7c1;
  padding: 20px 0px;
  width: 100%;
  float: left;
  
}
.footer-logo {
  width: 20;
  margin: 20px;

}
.footer-sect {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px;
}
.footer-sect a {
  color: white;
  margin-left: 20px;
  margin-right: 40px;
  padding: 5px;
  justify-content: space-between;
  text-decoration: none;
  text-decoration: none;
}

/********* Footer section CSS End **********/
